:root { --secondary: #111a28; --background: #f6f6f6; --element: #fff; --icon: #333; }

*, *::after, *::before { margin: 0; padding: 0; box-sizing: border-box; }

body { background-color: var(--background); font-family: "Poppins", sans-serif; color: var(--secondary); }

body.dark { --secondary: #dddfe1; --background: #111a28; --element: #1d293a; --icon: #00bf61; }

ul { margin: 0; padding: 0; list-style: none; }

a { color: #00bf61; }

::-webkit-scrollbar { width: 0; }

.btn { letter-spacing: 0.5px; font-weight: 600; display: inline-flex; align-items: center; }

.btn-icon { margin-right: 3px; }

.btn-main { background-color: #00bf61; color: var(--secondary); }

.dark .btn-main { color: var(--background); }

.btn-main:focus { box-shadow: 0 0 5px #59ffad; }

.btn-main.faded { background-color: #bfffe0; color: #008c47; border-color: #8cffc6; }

.dark .btn-main.faded { background-color: #00bf61; color: var(--background); border-color: #00bf61; }

.btn-main.faded:hover { background-color: #00bf61; color: var(--secondary); }

.tag { display: inline-flex; align-items: center; justify-content: flex-start; font-weight: 600; line-height: 1.5; text-align: center; text-decoration: none; vertical-align: middle; cursor: pointer; letter-spacing: 1px; user-select: none; background-color: transparent; border: 1px solid transparent; padding: 0.375rem 0.75rem; font-size: 1rem; border-radius: 0.25rem; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.tag-img-icon { width: 20px; height: 20px; display: inline-block; margin-right: 3px; }

.tag-sm { font-size: 10px; letter-spacing: 1px; }

.tag-sm .tag-img-icon { width: 18px; height: 18px; }

.tag-html { background-color: #ffceb3; color: #802d00; border-color: #ffbd9a; }

.dark .tag-html { background-color: var(--element); color: #e65100; border-color: #e65100; }

.tag-css { background-color: #b6e6fe; color: #025780; border-color: #9ddefe; }

.dark .tag-css { background-color: var(--element); color: #039be5; border-color: #039be5; }

.tag-javascript { background-color: #fff7cc; color: #998000; border-color: #fff3b3; }

.dark .tag-javascript { background-color: var(--element); color: #ffd600; border-color: #ffd600; }

.tag-bootstrap { background-color: #daceef; color: #3b216a; border-color: #cbbae9; }

.dark .tag-bootstrap { background-color: var(--element); color: #673ab7; border-color: #673ab7; }

.tag-jquery { background-color: #a8d2f3; color: #0d395c; border-color: #92c6ef; }

.dark .tag-jquery { background-color: var(--element); color: #1a71b5; border-color: #1a71b5; }

.tag-sass { background-color: #f9bfd3; color: #d71556; border-color: white; }

.dark .tag-sass { background-color: var(--element); color: #f06292; border-color: #f06292; }

.tag-reactjs { background-color: #a8e9fb; color: #087d9c; border-color: #f1fcfe; }

.dark .tag-reactjs { background-color: var(--element); color: #47d1f6; border-color: #47d1f6; }

.themeToggler { position: fixed; right: 20px; bottom: 50px; z-index: 10000; }

.themeToggler:focus { box-shadow: none; }

.scrollbar { width: 5px; background-color: #00bf61; position: fixed; top: 0; right: 0; border-radius: 0 0 3px 3px; }

.header { background-color: var(--element); padding-bottom: 30px; }

.header .cover { margin-left: auto; margin-right: auto; height: 200px; background-image: url("./../images/3665287.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center center; border-radius: 0 0 10px 10px; }

.header .profile { display: flex; align-items: center; justify-content: center; flex-direction: column; margin-top: -90px; text-align: center; }

.header .profile-img { width: 180px; height: auto; display: inline-block; border-radius: 50%; border: 5px solid var(--element); }

.header .profile-name { font-weight: 700; font-size: 40px; margin-bottom: 0; }

.dark .header .profile-name { color: #fff; }

.header .profile-profession { color: #00bf61; font-size: 18px; font-weight: 600; letter-spacing: 0.5px; }

.intro-text { font-size: 14px; line-height: 1.6; }

.intro-list li { display: flex; align-items: center; justify-content: flex-start; font-size: 14px; font-weight: 500; color: var(--secondary); }

.intro-list li:not(:first-child) { margin-top: 8px; }

.intro-list li i { display: inline-block; margin-right: 20px; color: var(--icon); font-size: 20px; }

.intro-list li span { color: var(--secondary); display: inline-block; overflow-wrap: anywhere; }

.intro-list li a { color: var(--secondary); text-decoration: none; }

.intro-list li a:hover { color: #00bf61; }

.skills-container { display: flex; align-items: center; flex-wrap: wrap; gap: 10px; }

.skills-item { background-color: var(--element); display: flex; align-items: center; justify-content: center; border-color: var(--secondary); border-radius: 10px; }

.projects-item { border-width: 0; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); }

.projects-item:not(.featured) { border-left: 3px solid #00bf61; }

.projects .card-body { background-color: var(--element); padding: 20px; }

.projects .card-footer { background-color: var(--element); }

.projects .card-title { font-size: 20px; font-weight: 600; margin-bottom: 15px; }

.projects .card-title a { color: var(--secondary); text-decoration: none; }

.projects .card-title a:hover { color: #00bf61; }

.projects .card-text { font-size: 14px; margin-top: 10px; }

.projects .projects-stack { display: flex; align-items: center; flex-wrap: wrap; gap: 10px; margin-bottom: 20px; }

.projects-item.text-center .projects-stack { justify-content: center; }

.projects .card-footer .projects-stack { margin-bottom: 0; }

.box { background-color: var(--element); padding: 15px 20px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); }

.box-title { font-weight: 700; font-size: 22px; margin-bottom: 16px; }

@media screen and (max-width: 575px) { .header .profile-name { font-size: 35px; } }

@media screen and (max-width: 400px) { .header .profile-img { width: 45%; }
  .box { padding: 15px; }
  .projects .card-body { padding: 15px; }
  .projects .card-title { font-size: 18px; }
  .projects .card-text { font-size: 13px; }
  .themeToggler { font-size: 16px; } }

@media screen and (max-width: 300px) { .header .profile-img { width: 50%; }
  .header .profile-name { font-size: 30px; } }
